*{
    margin: 0;
    padding: 0;
    max-width: 1490px;
    min-width: 375 px;
}


/*li {
    text-decoration: none;
    Одна из ошибок,что не задала максимальную и минимальную ширину.
    Как мне кажется, что подчеркивание и точки убираются не так,
     в плане можно их как-то по другому отменить,
      вплане в классе, а не сам атрибут. Может ошибка в моей голове
} */

/*a { 
    text-decoration: none;
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    line-height: 1.4;
    color: rgb(2, 44, 39);
    
}

header {
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content:center;
    background-color: rgb(144, 144, 187);
    padding: 15px 10px 15px 10px;
    margin: 10px 10px 10px 10 pxs; 
    border: 5px solid;
    border-color: rgb(246, 147, 255);
    
     /*Некорректно прописаны отступы,как по мне,
      слишком много значений, 
     еще в некорректном порядке*/
}

.menu {
    /*Тут стоит задать отступы,
    может как-то добавить оформление,
    работать с блоками тут (?).
    Текст нужно сделать по центру,после блоки 
    нужно развести между собой. Если правильно помню, 
    то это как-то делается через блоки.
    При наводе на ссылки, нужно сделать изменение их цвета*/
    
}

/*Кажется сделала лютый кринж с этими рамками,
стоит сделать чтобы при наводе менялся цвет */
.link {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 1.5px solid;
    border-color: rgb(36, 230, 236);
    
}

/*main*/
.container {
    max-width: 1200px;

}
 /*Класс,распределение блоков? 
 разделить блоки */

 .content {
    width: 100%;
    font-size:25px;px;
    border: 3px solid ;
    background-color: rgb(116, 186, 207);
    padding: 5px;
 } 
