*{
    margin: 0;
    padding: 0;
}


/*li {
    text-decoration: none;
    Одна из ошибок,что не задала максимальную и минимальную ширину.
} */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    line-height: 1.4;
    color: rgb(2, 44, 39);
    
}

header {
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 15px 10px 15px 10px;
    margin: 15px 10px 15px 10px;
    border: 3px solid;
    background-color: rgb(144, 144, 187);
    /*Некорректно прописаны отступы,*/
}


